<?xml version="1.0" encoding="utf-8" ?>
<pluginSection>
  <plugins>
    <add name="helloPlugin" type="MicrokernelHandsOn.Plugin.HelloPlugin, MicrokernelHandsOn.Plugin"/>
    <add name="goodByPlugin" type="MicrokernelHandsOn.Plugin.GoodByPlugin, MicrokernelHandsOn.Plugin"/>
  </plugins>
</pluginSection>